<% if current_user.try(:subscriber?) %>
  <p>You've already signed up!</p>
  <p><%= link_to "Back", root_path %>
<% end %>

<% if current_user.nil? %>
  <%= render "/devise/registrations/new" %>
<% end %>

<% if current_user.try(:visitor?) %>
  <p>Thank you for deciding to subscribe to MeowBox, where you can sign up for a monthly subscription for toys and
    treats for your favorite feline! Be sure to take the time to browse through each subscription option before deciding.
  <h5><%= link_to "Ready? Click here to Subscribe!", edit_user_path(current_user) %></h5>
  <h5><%= link_to "Not sure yet?", :back %></h5>
<% end %>
