<% if current_user.try(:subscriber?) %>
  <p>You've already signed up!</p>
  <p><%= link_to "Back", root_path %>
<% end %>

<% if current_user.nil? %>
  <%= render "/devise/registrations/new" %>
<% end %>

<% if current_user.try(:visitor?) %>
  <%= link_to "Subscribe!", edit_user_path(current_user) %>
<% end %>
