<% if current_user.try(:subscriber?) %>
  <p>You've already signed up!</p>
  <p><%= link_to "Back", root_path %>

<% elsif !current_user.confirmation_token.nil? %>
hi
<% end %>

<% else %>

  <%= render 'devise/registrations/new' %>

<% end %>
