<% if current_user.admin? %>

  <h2>All Boxes</h2>

  <% @boxes.each do |box| %>
    <%= link_to box.title, box_path(box) %>, shipped on <%= box.date_of_box %>
  <% end %>

<% else %>

  <p>You are not authorized to view this page.</p>
  <p><%= link_to "Go back", subscriptions_path %></p>

<% end %>
