<div id="kittens">
  <%= render 'boxes' %>
</div>


<script type="text/javascript" charset="utf-8">
    $(function(){
      $(document).on('click', ".pagination a", function() {
        $.get(this.href, null, null, "script");
        return false;
      });
    });
</script>
