<% if current_user.admin? %>
  <h3><%= @box.title %></h3>
  <p><%= @box.date_of_box %></p>
<% else %>
  <p>You are not authorized to view this page.</p>
  <p><%= link_to "Go back", subscriptions_path %></p>
<% end %>
