<h2>Box Items</h2>

<ul>
  <% @box.items.each do |item| %>
    <li><strong><u><%= item.title %></strong></u></li>
    <li>Description: <%= item.description %></li>
    <li>Size: <%= item.size %></li>
  <% end %>
</ul>


<p><%= link_to "Go back", box_path(@box) %></p>
